html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-areas: 
  "a a a"
  "b b b"
  "c c d"
  "f e e"
  "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0;
  align-items: stretch;
  min-height: 100vh;
}
.grid-item1 {
  text-align: center;
  grid-area: a;
  background-color: #0050E6;
  top: 0;
  margin: 0;
  border: 0;
  min-height: 5em;
}
.grid-item2 {
  grid-area: b;
  text-align: center;
}
.grid-item2  ul{
 display: flex;
 justify-content: center;
 gap: 1em; 
 text-align: center;
 background-color: grey;
 padding: 0px;
 margin: 0px;
 list-style-type: none;
 overflow: hidden;
 min-width: 100%;
}
.grid-item2 a{
 color:white;
 display:block;
 text-decoration:none; 
 text-align:center;
 padding:15px;
}
.grid-item2 a:hover{
  background-color: rgb(80, 80, 80);
}
.grid-item2 li {
  float: none;
}
.grid-item3 {
  text-align: center;
  grid-area: c;
  margin: 3em;
}
.grid-item4 {
  text-align: center;
  grid-area: d;
}
.grid-item5 {
  text-align: center;
  grid-area: e;
  margin: 3em;
}
.grid-item6 {
  text-align: center;
  grid-area: f;
  }
.footer {
  text-align: center;
  grid-area: footer;
  background-color: #0050E6;
  bottom: 0;
  min-height: 3em
}