body {
  background-color: rgb(255, 255, 255);
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
  font-family: verdana;
  font-size: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 40px 40px 40px;
  grid-template-areas: 
  'header header header'
  'nav nav nav'
  'article article img'
  'article article img'
  'footer footer footer';
}
.grid-item {
  text-align: center;
  }

.footer {
  text-align: center;
  grid-area: 'footer';
}

header {
  grid-area: 'header';
}

main {
  grid-area: 'main';
}

aside {
  grid-area: 'sidebar';
}